<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <title>Bem-vindo</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div class="container">

        <h1>Bem-vindo!</h1>

        <h2>
            <%= nome %>
        </h2>

        <p>Você entrou com sucesso.</p>

        <a href="/logout">

            <button>Sair</button>

        </a>

    </div>

</body>

</html>