<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <title>Login</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div class="container">

        <h1>Login</h1>

        <form action="/login" method="POST">

            <input type="email" name="email" placeholder="Email" required>

            <input type="password" name="senha" placeholder="Senha" required>

            <button>Entrar</button>

        </form>

        <p>

            <a href="/register">Criar conta</a>

        </p>

    </div>

</body>

</html>