<!DOCTYPE html>

<html lang="pt-BR">


<head>


<meta charset="UTF-8">


<title>Adicionar tarefa</title>


<style>


body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#eef2f7;

font-family:Arial;

}



.card{

background:white;

padding:40px;

width:400px;

border-radius:20px;

box-shadow:0 10px 30px #0003;

}



h1{

text-align:center;

color:#333;

}



input,
textarea{

width:100%;

padding:12px;

margin-top:15px;

border-radius:8px;

border:1px solid #ccc;

font-size:15px;

}



textarea{

height:100px;

resize:none;

}



button{

width:100%;

margin-top:20px;

padding:14px;

background:#0d6efd;

border:none;

color:white;

font-size:16px;

border-radius:10px;

cursor:pointer;

}



button:hover{

background:#084298;

}




.voltar{


display:block;

text-align:center;

margin-top:20px;

text-decoration:none;

color:#555;


}


</style>


</head>



<body>


<div class="card">



<h1>

Nova tarefa

</h1>




<form action="/tarefas/nova" method="POST">


<input

name="titulo"

placeholder="Nome da tarefa"

required>



<textarea

name="descricao"

placeholder="Descrição">

</textarea>




<label>

Data:

</label>


<input

type="date"

name="data"

required>





<label>

Horário:

</label>


<input

type="time"

name="horario"

required>






<button>

Adicionar tarefa

</button>



</form>




<a class="voltar" href="/tarefas">

← Voltar para tarefas

</a>



</div>


</body>


</html>
