<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <title>Cadastro</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div class="container">

        <h1>Cadastrar</h1>

        <form action="/register" method="POST">

            <input type="text" name="nome" placeholder="Nome" required>

            <input type="email" name="email" placeholder="Email" required>

            <input type="password" name="senha" placeholder="Senha" required>

            <button>Cadastrar</button>

        </form>

        <p>

            <a href="/login">Voltar</a>

        </p>

    </div>

</body>

</html>