<!DOCTYPE html>

<html>

<head>

<title>Login realizado</title>


<style>

body{

font-family:Arial;

background:#f4f4f4;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}



.card{

background:white;

padding:40px;

width:450px;

text-align:center;

border-radius:10px;

box-shadow:0 0 20px #aaa;

}



h1{

color:#28a745;

}


a{

display:inline-block;

margin-top:25px;

padding:12px 30px;

background:#0d6efd;

color:white;

text-decoration:none;

border-radius:8px;

}


</style>


</head>


<body>


<div class="card">


<h1>
Login realizado!
</h1>


<p>
Bem-vindo <b><%= nome %></b>
</p>


<p>
Você está conectado.
</p>



<a href="/tarefas">

Continuar

</a>



</div>


</body>


</html>
